@import "compass/css3";

// CSS reset
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


* {
  @include box-sizing(border-box);  
}

$bg: #1d1f20;

html, body {
  background-color: $bg;
	font-family: "Open Sans";
	font-size: 14px;
	color: White;
	width: 100%;
	height: 100%;
	padding: 0;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}        

.objects {
	position: absolute;
	left: 0; top: 0; bottom: 0;
	width: 50%;
	//border: 1px red solid;
	
	.obj {
		position: relative;
		float: left;
		width: 100%;
		height: 33%;
		//border: 1px solid blue;
		overflow: hidden;
		
		.selection {
			padding: 0.5em;
		}
		
		.content {
			height: 90%;
			background-color: lighten($bg, 5%);
			color: White;
			overflow: auto;
			
			pre {
				padding: 5px; margin: 5px; 
				
				.string { color: rgb(208, 174, 67); }
				.number { color: darkorange; }
				.boolean { color: yellow; }
				.null { color: magenta; }
				.key { color: rgb(144, 172, 176); }				
			}
		}
	}
	
}

.propertyEditorWrapper {
	position: absolute;
	right: 0; top: 0; bottom: 0;
	width: 400px;
	padding: 20px;
	
} // .propertyEditorWrapper
      